<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table border="1">
  <thead>
    <tr>
      <th>Request number</th>
      <th>Sequence number</th>
      <th>Request type</th>
      <th>Response DueDate Time</th>
      <th>Service area</th>
      <th>CompanyName</th>
      <th>Address</th>
      <th>Crew On Site</th>
      <th>Digsite info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.request_number %></td>
        <td><%= ticket.sequence_number %></td>
        <td><%= ticket.request_type %></td>
        <td><%= ticket.response_due_date_time %></td>
        <td><b>Primary Service Area Code</b> <%= ticket.primary_service_area_code["SACode"].delete '[]"' %><br/>
        <b>AdditionalService Area Code </b><%= ticket.additional_service_area_code["SACode"].delete '[]"' %></td>
        <td><%= ticket.excavator.company_name %></td>
        <td><%= ticket.excavator.address %></td>
        <td><%= ticket.excavator.crew_onsite %></td>
        <td><%= ticket.digsite_info %></td>
        <td><%= link_to 'Show', ticket %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
