<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>
<p id="notice"><%= notice %></p>
<h2><u>Ticket Info</u></h2>
<p>
  <strong>Request number:</strong>
  <%= @ticket.request_number %>
</p>

<p>
  <strong>Sequence number:</strong>
  <%= @ticket.sequence_number %>
</p>

<p>
  <strong>Request type:</strong>
  <%= @ticket.request_type %>
</p>
<p>
  <strong>Response DueDate Time:</strong>
  <%= @ticket.response_due_date_time %>
</p>
<h3>Service area</h3>
<p>
  <strong>Primary Service Area Code:</strong>
  <%= @ticket.primary_service_area_code["SACode"].delete '[]"' %>
</p>
<p>
  <strong>Primary Service Area Code:</strong>
  <%= @ticket.additional_service_area_code["SACode"].delete '[]"'  %>
</p>
<h2><u>Excavator Info</u></h2>
<p>
  <strong>Company Name:</strong>
  <%= @ticket.excavator.company_name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @ticket.excavator.address %>
</p>
<p>
  <strong>Crew On Site:</strong>
  <%= @ticket.excavator.crew_onsite %>
</p>


<h2>Digsite Info</h2>
<div id="map"></div>
<script type="text/javascript">
  $(function(){
  $(window).load(function(){
    var map;
    var elevator;
    var myOptions = {
        zoom: 9,
        center: new google.maps.LatLng(44.98,-93.2636111)
    };

    map = new google.maps.Map($('#map')[0], myOptions);  

    var wkts = [
        "<%= @ticket.digsite_info %>",
    ];
    var addPoints = function(ptsArray, data){
        var pointsData=data.split(",");
        var len=pointsData.length;
        for (var i=0;i<len;i++)
        {
             var xy=pointsData[i].split(" ");

            var pt=new google.maps.LatLng(xy[1],xy[0]);
            ptsArray.push(pt);
        }


    }

    var createPoly = function(wkt) {
        var regex = /\(([^()]+)\)/g;
        var Rings = [];
        var results;
        while( results = regex.exec(wkt) ) {
            Rings.push( results[1] );
        }
        var ptsArray=[];
        var polyLen=Rings.length;
        for(var i=0;i<polyLen;i++){
            addPoints(ptsArray, Rings[i]);
        }
        
        var poly = new google.maps.Polygon({
            paths: ptsArray,
            strokeColor: '#1E90FF',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#1E90FF',
            fillOpacity: 0.35
          });
        return poly;
    };
          
    console.log("Creating polygons from wkts: %o: ", wkts);

    _.map(wkts, function(wkt) {
        console.log("Creating polygon from wkt: %o: ", wkt);
        var poly = createPoly(wkt);
        poly.setMap(map);
        return poly;
    });
  });
});


</script>

<%= link_to 'Back', tickets_path %>
